body{
  background-image: url(../images/cloud.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: grey;
}

h1{
	color: white;
	text-align: center;
	font-size: 8em;
	margin-top: 100px;
}

h4{
	color: white;
	text-align: right;
	margin-top: 550px;
}

.images{
	margin-top: 330px;
	margin-left: 10px;
	text-align: center;
}

.images p{
	color: #5bc0de;
}

.icoon img{
	width: 100px;
	margin-top: 100px;
	margin-left: 250px;
}

.icoon img:hover{
	margin-left: 255px;
}
